body {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

.title {
  margin-bottom: 0px;
  border-bottom: 2px solid #333;

}

p {
  margin: 5px;
  padding: 0;
}

.subtitle {
  font-weight: bold;
  color: #555;
  float: left;
  font-size: 1.4em;
}

.timeline {
  font-style: italic;
  color: #777;
  float: right;
}

.degree {
  font-weight: bold;
  color: #333;
  clear: both;
  justify-content: left;
  /* border: solid 1px #e62727; */
}

#major{
  margin: 0;
  padding: 0;
  justify-self: left;
  text-align: left;
  float: left;
  /* border: solid 2px #e62727; */
}
#minor {
  margin: 0;
  padding: 0;
  justify-self: left;
  text-align: left;
  float: left;
  clear: left;
  /* border: solid 2px #e62727; */
} 

.gpa{
  float: right;
}

.subtitle h3{
  margin: 0px 0px;
  padding: 0;
}

ul {
  clear: both;
  text-align: left;
}

hr{
  clear: both
}